<div class="text-white">
  {% if cart.item_count > 0 %}

    <p class="ta-center">{{ 'cart.filled.title' | t }}</p>
    <form action="/cart" method="post" novalidate>
      <div class="cart-lines">
        {% for item in cart.items %}
          {% include 'line-item' %}
        {% endfor %}
      </div>
        
      <div class="subtotal-line">
        <p>{{ 'cart.filled.subtotal' | t }}</p>
        <span class="price">{{ cart.total_price | money }}</span>
      </div>

      <button type="submit" name="checkout">{{ 'cart.filled.button' | t }}</button>
    </form>

  {% else %}
    <p class="cart-empty-text ta-center">{{ 'cart.empty.title' | t }}</p>
    <a href="/" class="button js-keep-shopping">{{ 'cart.empty.button' | t }}</a>
  {% endif %}
</div>